.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px var(--horizontal-space);
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
    
}
.screen-header__icons span{
    margin-left: 25px;
}
.badge-notification{
    background-color: rgb(255, 116, 202);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 70px;
    bottom: 25px;
}
